@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);


body {
    font-family: Consolas,monaco,monospace;
    background: #9b59b6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    height: 400px;
}

h1{
  color: #ecf0f1;
}

.header {
    background: linear-gradient(#f1f1f1 , #d3d3d3);
    width: 100%;
    height: 30px;
    border-radius: 10px 10px 0 0;
    position: relative;
    border-bottom: 2px solid;
    border-color: #9a9a9a;
}

.dot {
    position: absolute;
    top: 40%;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    display: inline-block;
}

.red {
    margin-left: 10px;
    background: #fc625d;
}

.yellow {
    margin-left: 30px;
    background: #fdbc40;
}

.green {
    margin-left: 50px;
    background: #33c748;
}

.panel {
    height: 70vh;
    background: #27292c;
    overflow-y: scroll;
    width: 100%;
}

.window-padding {
    padding: 20px;
}

.action {
    margin-bottom: 10px;
}

.command {
    width: 100%;
    height: 20px;
    background: #27292c;
    color: #c86762;
    font-size: 16px;
    font-weight: 700;
}

input[type="text"] {
    width: 90%;
    background: #27292c;
    border: none;
    outline: none;
    color: white;
    margin-left: 5px;
    font-size: 16px;
}

.intro-command {
    width: 90%;
    background: #27292c;
    border: none;
    outline: none;
    color: white;
    margin-left: 5px;
    font-size: 16px;
}

.output {
    color: white;
    font-weight: 300;
    margin-top: 5px;
    margin-left: 12px;
}

#titlebar {
    height: 30px;
    width: 100%;
    background: #FFFFFF;
}

#titlebar span {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
}

.max-min-close {
    float: right;
    width: 30px;
    padding: 10px;
    text-align: center;
}

#close, #min {
    font-size: 0.9em;
}
span#max {
    font-size: 1.4em;
    line-height: 0.7em;
    padding-bottom: 10px;
}

#max:hover, #min:hover {
    background-color: rgb(229,229,229);
}

#close:hover {
    color:white;
    background-color: rgb(232,17,35);
}

